header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid black;
    padding: 30px;
    background-color: rgb(15, 16, 51);
    color:rgb(225, 218, 218);
  }